.dropdown__toggle {
    cursor: pointer;
}
.dropdown__toggle .avatar {
    display: flex;
    align-items: center;
}
.dropdown__toggle .avatar img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.dropdown__toggle .avatar .name {
    color: var(--txt-white);
    padding-left: .6rem;
    text-transform: capitalize;
    font-weight: 500;
}
.dropdown__toggle .bell {
   position: relative;
}
.dropdown__toggle i {
    font-size: 2rem;
    color: var(--main-bg);
    padding: 0.3rem 0;
}
.dropdown__toggle .bell .label {
   position: absolute;
   top: 0;
   right: 0;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background-color: var(--main-color-red);
   color: var(--txt-white);
   text-align: center;
   line-height: 1rem;
}
.dropdown__content .submenu__item {
    padding: 1.2rem;
    display: flex;
    align-items: center;
}
.dropdown__content .submenu i{
   margin-right: 1.2rem;
   font-size: 1.5rem;
}
.dropdown__footer {
    border-top: 1px solid var(--second-bg);
    padding: 20px;
    text-align: center;
}