.card-status {
    background-color: var(--main-bg);
    width: 100%;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 199;
}
.card-status__icon {
    width: 30%;
    font-size: 3rem;
    z-index: 1;
    margin-right: .4rem;
}
.card-status__title {
    text-align: center;
    z-index: 1;
    text-transform: capitalize;
}
.card-status__info {
    z-index: 1;
}
.card-status__info .count{
    font-size: 2.5rem;
    margin-bottom: 10px;
    z-index: 1;
}
.card-status::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    padding-top: 100%;
    background-image: linear-gradient(to top right ,var(--main-color) ,var(--second-color) );
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
}
.card-status:hover::before {
    transform: scale(3);
}
.card-status:hover {
    color: var(--txt-white) !important;
}