.layout {
    color: var(--txt-color);
}

.layout__content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
    padding-top: 3rem;
}
.layout__content.toggle {
   padding-left: 0;
}
.layout__content-main {
    padding: 30px;
}